@model v2.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResultHomeTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResultHomeTeam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResultAwayTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResultAwayTeam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
