@model IEnumerable<v2.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                HomeTeam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultHomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultAwayTeam)
            </th>
            <th>
                AwayTeam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultHomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultAwayTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
