@model IEnumerable<v2.Models.Coach>

@{
    ViewData["Title"] = "Index";
}

<h1>Coaches Ranking</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoachName)
            </th>
            <th>
                Total wins of each team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CoachName)
                </td>
                <td>
                    @{
                        var totalWins = item.Teams?.Sum(t => t.Wins) ?? 0;
                    }
                    @totalWins
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.CoachId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CoachId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CoachId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
